# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
*.zip
*.txt
*.json
*.env

*.cpython
__pycache__
# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/
venv
.windsurfrules

temp_jay_queries.sql
diagnostic_test_queries.sql

*.png
*.log

prod.env
roles.sql
check_distribution_ds_score.py
CLAUDE.md